
<div class="page-content" >
    <div style="position: absolute;top: 40%;left: 50%;width: 500px;height: 300px;margin-left: -250px;margin-top: -150px;">
        <div class="card" style=" border-radius: 13px">
            <div class="card-header" style="background-image: url('../../assets/images/citymax_bg2.jpg'); height: 250px; background-size: 100%;border-top-right-radius: 13px;border-top-left-radius: 13px">

            </div>

            <div class="card-body">
                <br>
                <form id="Login" ng-submit="login();loginEmailData();">
                    <div class="row" style="padding-left: 4rem; padding-right:4rem">
                        <div class="col-md-12">
                            <!-- <label>Email</label> -->
                            <input type="text" class="form-control" placeholder="Email" ng-model="email_id">
                        </div>
                    </div>
                    <br>
                    <div class="row" style="padding-left: 4rem; padding-right:4rem">
                        <div class="col-md-12">
                            <!-- <label>Password</label> -->
                            <input type="password" class="form-control" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <br>
                    <div style="padding-left: 9rem;padding-right: 9rem">
                        <button class="btn btn-block" type="submit" style="background-color: #2e4669; color: #fff">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






