<div class="all-content-wrapper">
<div class="adminpro-accordion-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tab-content-details mg-b-30">
                            <h2>Custom Animate accordion Bootstrap</h2>
                            <p>These are the Custom Animate accordion Bootstrap. Using animate bounce, flash, pulse, rubberBand, shake, swing, tada, wobble, jello, bounceIn, bounceInDown, bounceInLeft, bounceInRight, bounceInUp, fadeIn, fadeInDown, fadeInDownBig,
                                fadeInLeft, fadeInLeftBig, fadeInRight, fadeInRightBig, fadeInUp, fadeInUpBig, flipInX, flipInY, lightSpeedIn, rotateIn, rotateInDownLeft, rotateInDownRight, rotateInUpLeft, rotateInUpRight, rollIn, zoomIn, zoomInDown,
                                zoomInLeft, zoomInRight, zoomInUp etc.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="panel-group" id="accordian11">
                            <div class="panel panel-default border_radius_none" style="margin-top: 0px;">
                                <div class="panel-heading p_tb_10 cursor_pointers" href="#collapse_one" data-toggle="collapse" data-parent="#accordian">  Manage Dashboard <span class="fa fa-angle-down pull-right font_size_18" style="margin-top: 5px;"></span></div>
                                <div class="collapse panel-collapse in" id="collapse_one">
                                    <ul class="list-group">
                                        <!--<a class="list-group-item" ng-href="menu/setting/calendar">Calendar</a>-->
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href="">Automatic ID Generation</a>
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href=""> Import - Export</a>
                                        <!--<a class="list-group-item" ng-href="menu/setting/applicationwidgets">Smart Application Widget</a>--><!-- Hide For Now -->
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href=""> Print Outs</a>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel panel-default border_radius_none" style="margin-top: 0px;">
                                <div class="panel-heading p_tb_10 cursor_pointers" href="#collapse_two"  data-toggle="collapse" data-parent="#accordian"> My Associates <span class="fa fa-angle-right pull-right font_size_18" style="margin-top: 5px;"></span></div>
                                <div class="collapse panel-collapse" id="collapse_two">
                                    <ul class="list-group">
                                        <!--<a class="list-group-item" ng-href="menu/setting/adddoctor">Doctor</a>-->
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href="">Associate</a>
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href=""> Roles</a>
                                    </ul>
                                </div>
                            </div>
                    
                            <div class="panel panel-default border_radius_none" style="margin-top: 0px;">
                                <div class="panel-heading p_tb_10 cursor_pointers" href="#collapse_three" data-toggle="collapse" data-parent="#accordian"> Communication <span class="fa fa-angle-right pull-right font_size_18" style="margin-top: 5px;"></span></div>
                                <div class="collapse panel-collapse" id="collapse_three">
                                    <ul class="list-group">
                                        <a class="list-group-item master_setting" ng-href=""> SMS/ Email</a>
                                    </ul>
                                </div>
                            </div>
                    
                            <div class="panel panel-default border_radius_none" style="margin-top: 0px;">
                                <div class="panel-heading p_tb_10 cursor_pointers" href="#collapse_four" data-toggle="collapse" data-parent="#accordian">Docket <span class="fa fa-angle-right pull-right font_size_18" style="margin-top: 5px;"></span></div>
                                <div class="collapse panel-collapse" id="collapse_four">
                                    <ul class="list-group">
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href="">Reference</a>
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href="">Medical History</a>
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href=""> EMR</a>
                                        <a ng-class="{ active: isActive('')}" class="list-group-item master_setting" ng-href=""> Clinical Notes</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="admin-pro-accordion-wrap">
                            <div class="alert-title">
                                <h2>Animate flash Accordion</h2>
                                <p>These are the Custom bootstrap Animate flash Accordion style 2</p>
                            </div>
                            <div class="panel-group adminpro-custon-design" id="accordion12">
                                <div class="panel panel-default">
                                    <div class="panel-heading accordion-head">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion12" href="#collapse4">
									 Collapsible Group 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse panel-ic collapse in">
                                        <div class="panel-body admin-panel-content animated flash">
                                            <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>
                                            <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading accordion-head">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion12" href="#collapse5">
									 Collapsible Group 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse5" class="panel-collapse panel-ic collapse">
                                        <div class="panel-body admin-panel-content animated flash">
                                            <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>
                                            <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading accordion-head">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion12" href="#collapse6">
									 Collapsible Group 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse6" class="panel-collapse panel-ic collapse">
                                        <div class="panel-body admin-panel-content animated flash">
                                            <p>It was popularised in the 1960s with the release of Letraset sheets of the containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.</p>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua of Lorem Ipsum.</p>
                                            <p> Ut enim adminim veniam, quis nostrud exercitation ullamco laboris nisis ut aliquip ex ea commodo consequat consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script>
    $(document).ready(function(){
        $('.collapse').on('shown.bs.collapse', function(){
            $(this).parent().find(".fa-angle-right").removeClass("fa-angle-right").addClass("fa-angle-down");
        }).on('hidden.bs.collapse', function(){
            $(this).parent().find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-right");
        });
    });
</script>