<div class="all-content-wrapper">
        <div class="blog-area mg-tb-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box responsive-mg-b-30">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/2.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <a href="blog_details.html">
                                        <h4>TIPS FOR BEAUTY</h4>
                                    </a>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box responsive-mg-b-30">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/1.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <a href="blog_details.html">
                                        <h4>TIPS FOR BEAUTY</h4>
                                    </a>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box responsive-mg-b-30">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/3.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <a href="blog_details.html">
                                        <h4>TIPS FOR BEAUTY</h4>
                                    </a>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/4.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <a href="blog_details.html">
                                        <h4>TIPS FOR BEAUTY</h4>
                                    </a>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box mg-t-30">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/1.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <div class="blog-img">
                                        <img src="../assets/img/cropper/1.jpg" alt="" />
                                        <a href="blog_details.html">
                                            <h4>TIPS FOR BEAUTY</h4>
                                        </a>
                                    </div>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box mg-t-30 responsive-mg-b-0">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/2.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <div class="blog-img">
                                        <img src="../assets/img/cropper/1.jpg" alt="" />
                                        <a href="blog_details.html">
                                            <h4>TIPS FOR BEAUTY</h4>
                                        </a>
                                    </div>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box mg-t-30 responsive-mg-b-0">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/3.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <div class="blog-img">
                                        <img src="../assets/img/cropper/1.jpg" alt="" />
                                        <a href="blog_details.html">
                                            <h4>TIPS FOR BEAUTY</h4>
                                        </a>
                                    </div>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel blog-box mg-t-30">
                                <div class="panel-heading custom-blog-hd">
                                    <div class="media clearfix">
                                        <a class="pull-left">
                                                <img class="img-circle" src="../assets/img/contact/4.jpg" alt="profile-picture">
                                            </a>
                                        <div class="media-body blog-std">
                                            <p>Created by: <span class="font-bold">Smith</span> </p>
                                            <p class="text-muted">21.03.2015</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body blog-pra">
                                    <div class="blog-img">
                                        <img src="../assets/img/cropper/1.jpg" alt="" />
                                        <a href="blog_details.html">
                                            <h4>TIPS FOR BEAUTY</h4>
                                        </a>
                                    </div>
                                    <p>
                                        There are many variations of the passages of Lorem Ipsum onece available, but the majority have suffered alteration in some form, by injected humour...
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                    <i class="fa fa-eye"> </i> 142 views
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>