<div class="all-content-wrapper">
        <div class="container">
                <div class="panel panel-default">
                  <div class="panel-body">
              
                    <div class="stepper">
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                          <a class="persistant-disabled" href="#stepper-step-1" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1">
                            <span class="round-tab">1</span>
                          </a>
                        </li>
                        <li role="presentation" class="disabled">
                          <a class="persistant-disabled" href="#stepper-step-2" data-toggle="tab" aria-controls="stepper-step-2" role="tab" title="Step 2">
                            <span class="round-tab">2</span>
                          </a>
                        </li>
                        <li role="presentation" class="disabled">
                          <a class="persistant-disabled" href="#stepper-step-3" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
                            <span class="round-tab">3</span>
                          </a>
                        </li>
                        <li role="presentation" class="disabled">
                                <a class="persistant-disabled" href="#stepper-step-4" data-toggle="tab" aria-controls="stepper-step-4" role="tab" title="Step 4">
                                  <span class="round-tab">4</span>
                                </a>
                              </li>
                        <li role="presentation" class="disabled">
                          <a class="persistant-disabled" href="#stepper-step-5" data-toggle="tab" aria-controls="stepper-step-5" role="tab" title="Complete">
                            <span class="round-tab">5</span>
                          </a>
                        </li>
                        
                      </ul>
                      <form role="form">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">
                                <h3 class "h2">Customer Basic Information</h3>
                                <div class="sparkline12-graph">
                                        <div class="basic-login-form-ad">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="all-form-element-inner">
                                                        <form action="#">
                                                            <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                                        <label class="login2 pull-right pull-right-pro">NAME*</label>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:105px;">
                                                                            <div class="form-select-list">
                                                                                    <select class="form-control custom-select-value" name="account">
                                                                                            <option>Mr.</option>
                                                                                            <option>Mrs.</option>
                                                                                            <option>Ms.</option>
                                                                                            <option>Dr.</option>
                                                                                        </select>
                                                                                </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="First Name"/>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                <input type="text" class="form-control" placeholder="Middle Name"/>
                                                                            </div>
                                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                    <input type="text" class="form-control" placeholder="Last Name"/>
                                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:110px;">
                                                                            <label class="login2">Mobile No.*</label>
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                                                                <input type="text" class="form-control" placeholder="91"/>
                                                                            </div>
                                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                    <input type="text" class="form-control" placeholder="123456789"/>
                                                                                </div>
                                                                               
                                                                    </div>
                                                                </div>
                                                           
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </div> -->
                            
                            
                           
                            <ul class="list-inline pull-right">
                              <li>
                                <a class="btn btn-primary next-step">Next</a>
                              </li>
                            </ul>
                          </div>
                          <div class="tab-pane fade" role="tabpanel" id="stepper-step-2">
                            <h3 class "h2">2. Enter Payment Information</h3>
                            <p>This is step 2</p>
                            <ul class="list-inline pull-right">
                              <li>
                                <a class="btn btn-default prev-step">Back</a>
                              </li>
                              <li>
                                <a class="btn btn-primary next-step">Next</a>
                              </li>
                            </ul>
                          </div>
                          <div class="tab-pane fade" role="tabpanel" id="stepper-step-3">
                                <h3 class "h2">3.  Information</h3>
                                <p>This is step 2</p>
                                <ul class="list-inline pull-right">
                                  <li>
                                    <a class="btn btn-default prev-step">Back</a>
                                  </li>
                                  <li>
                                    <a class="btn btn-primary next-step">Next</a>
                                  </li>
                                </ul>
                              </div>
                          <div class="tab-pane fade" role="tabpanel" id="stepper-step-4">
                            <h3 class="hs">3. Review and Submit Payment</h3>
                            <p>This is step 3</p>
                            <ul class="list-inline pull-right">
                              <li>
                                <a class="btn btn-default prev-step">Back</a>
                              </li>
                              <li>
                                <a class="btn btn-default cancel-stepper">Cancel Payment</a>
                              </li>
                              <li>
                                <a class="btn btn-primary next-step">Submit Payment</a>
                              </li>
                            </ul>
                          </div>
                          <div class="tab-pane fade" role="tabpanel" id="stepper-step-5">
                            <h3>4. All done!</h3>
                            <p>You have successfully completed all steps.</p>
                          </div>
                        </div>
                      </form>
                    </div>
              
              
                  </div>
                </div>
              </div>
</div>
<script>
(function($) {
    'use strict';

    $(function() {

        $(document).ready(function() {
            function triggerClick(elem) {
                $(elem).click();
            }
            var $progressWizard = $('.stepper'),
                $tab_active,
                $tab_prev,
                $tab_next,
                $btn_prev = $progressWizard.find('.prev-step'),
                $btn_next = $progressWizard.find('.next-step'),
                $tab_toggle = $progressWizard.find('[data-toggle="tab"]'),
                $tooltips = $progressWizard.find('[data-toggle="tab"][title]');

            // To do:
            // Disable User select drop-down after first step.
            // Add support for payment type switching.

            //Initialize tooltips
            $tooltips.tooltip();

            //Wizard
            $tab_toggle.on('show.bs.tab', function(e) {
                var $target = $(e.target);

                if (!$target.parent().hasClass('active, disabled')) {
                    $target.parent().prev().addClass('completed');
                }
                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            // $tab_toggle.on('click', function(event) {
            //     event.preventDefault();
            //     event.stopPropagation();
            //     return false;
            // });

            $btn_next.on('click', function() {
                $tab_active = $progressWizard.find('.active');

                $tab_active.next().removeClass('disabled');

                $tab_next = $tab_active.next().find('a[data-toggle="tab"]');
                triggerClick($tab_next);

            });
            $btn_prev.click(function() {
                $tab_active = $progressWizard.find('.active');
                $tab_prev = $tab_active.prev().find('a[data-toggle="tab"]');
                triggerClick($tab_prev);
            });
        });
    });

}(jQuery, this));

</script>