<div class="all-content-wrapper">
    <div class="widgets-programs-area mg-t-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Page Views</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-desktop" aria-hidden="true"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-success">160k+</h1>
                                <small>
                                            Lorem Ipsum is simply dummy text of the printing and Lorem <strong>typesetting industry</strong> spa.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Active Views</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-street-view" aria-hidden="true"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-info">462</h1>
                                <small>
                                            Lorem Ipsum is simply dummy text of the printing and Lorem <strong>typesetting industry</strong> spa.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Income</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-warning">$2000</h1>
                                <small>
                                            Lorem Ipsum is simply dummy text of the printing and Lorem <strong>typesetting industry</strong> spa.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Messages</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-danger">680</h1>
                                <small>
                                            Lorem Ipsum is simply dummy text of the printing and Lorem <strong>typesetting industry</strong> spa.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-program-box mg-tb-30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-box">
                                <h2 class="m-b-xs">Box title</h2>
                                <p class="font-bold text-success">Lorem ipsum</p>
                                <div class="m icon-box">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <p class="small mg-t-box">
                                    Lorem Ipsum passages and more recently with desktop published software like Aldus PageMaker including versions of Lorem.
                                </p>
                                <button class="btn btn-success btn-sm">Action button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-box">
                                <h2 class="m-b-xs">Box title</h2>
                                <p class="font-bold text-info">Lorem ipsum</p>
                                <div class="m icon-box">
                                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                </div>
                                <p class="small mg-t-box">
                                    Lorem Ipsum passages and more recently with desktop published software like Aldus PageMaker including versions of Lorem.
                                </p>
                                <button class="btn btn-info btn-sm">Action button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-box">
                                <h2 class="m-b-xs">Box title</h2>
                                <p class="font-bold text-warning">Lorem ipsum</p>
                                <div class="m icon-box">
                                    <i class="fa fa-recycle" aria-hidden="true"></i>
                                </div>
                                <p class="small mg-t-box">
                                    Lorem Ipsum passages and more recently with desktop published software like Aldus PageMaker including versions of Lorem.
                                </p>
                                <button class="btn btn-warning btn-sm">Action button</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="text-center content-box">
                                <h2 class="m-b-xs">Box title</h2>
                                <p class="font-bold text-danger">Lorem ipsum</p>
                                <div class="m icon-box">
                                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <p class="small mg-t-box">
                                    Lorem Ipsum passages and more recently with desktop published software like Aldus PageMaker including versions of Lorem.
                                </p>
                                <button class="btn btn-danger btn-sm">Action button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-program-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel hbggreen responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-bg-pro">
                                <h3>Title text</h3>
                                <p class="text-big font-light">
                                    20
                                </p>
                                <small>
                                            Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel hbgblue responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-bg-pro">
                                <h3>Title text</h3>
                                <p class="text-big font-light">
                                    160
                                </p>
                                <small>
                                            Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel hbgyellow responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="text-center content-bg-pro">
                                <h3>Title text</h3>
                                <p class="text-big font-light">
                                    750
                                </p>
                                <small>
                                            Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel hbgred">
                        <div class="panel-body">
                            <div class="text-center content-bg-pro">
                                <h3>Title text</h3>
                                <p class="text-big font-light">
                                    0,43
                                </p>
                                <small>
                                            Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                        </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="program-widget-bc mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-success font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 14, 2013</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-success font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 09, 2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-success font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 24, 2014</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-info font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 14, 2013</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-info font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 09, 2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-info font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 24, 2014</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel responsive-mg-b-30">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-warning font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 14, 2013</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-warning font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 09, 2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-warning font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 24, 2014</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Task</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-danger font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 14, 2013</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-danger font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 09, 2015</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="text-danger font-bold">Lorem ipsum</span>
                                            </td>
                                            <td>Jul 24, 2014</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>