
<!--header-->
<div class="navbar navbar-expand-md navbar-dark">
    <!--mobile navbar-->
    <div class="navbar-brand">
        <a href="/Admin/" class="d-inline-block">
            <!--<img src="../../assets/CSS/global_assets/images/logo_light.png" alt="">-->
            <h6 style="margin:0rem;color:white;">CASA</h6>
           </a>
    </div>
    <!--mobile navbar-->

    <!--mobile navbar button-->
    <div class="d-md-none">
        <!--<button class="navbar-toggler" type="button" >-->
            <!--<i class="icon-tree5"></i>-->
        <!--</button>-->
        <button class="navbar-toggler sidebar-mobile-main-toggle" data-toggle="collapse" data-target="#sidebar" type="button" >
            <i class="icon-paragraph-justify3"></i>

        </button>

    </div>
    <!--mobile navbar button-->

    <!--mobile navbar detail-->
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" data-toggle="collapse" data-target="#sidebar" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>

            <li class="nav-item dropdown" >


                <div class="dropdown-menu dropdown-content wmin-md-350" >
                    <!--<div class="dropdown-content-header">-->
                        <!--<span class="font-weight-semibold">Git updates</span>-->
                        <!--<a href="#" class="text-default"><i class="icon-sync"></i></a>-->
                    <!--</div>-->

                    <div class="dropdown-content-body dropdown-scrollable" id="accordion-group" >
                        <ul class="media-list" >
                            <li class="media">
                                <!--<div class="mr-3">-->
                                    <!--<a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>-->
                                <!--</div>-->

                                <div class="media-body">
                                    <a data-toggle="collapse" data-target="#accordion-item-group7"><i class="icon-copy" style="color:black;"></i>Layout1</a>
                                    <div class="text-muted font-size-sm">
                                        <ul style="list-style: none;" id="accordion-item-group7" class="collapse show" data-parent="#accordion-group">
                                            <li class="nav-item"><a ng-href="/Admin/base/pr/" class="nav-link active" >Default layout</a></li>
                                            <li class="nav-item"><a href="../../../../layout_2/LTR/default/full/index.html" class="nav-link">Layout 2</a></li>
                                            <li class="nav-item"><a href="../../../../layout_3/LTR/default/full/index.html" class="nav-link">Layout 3</a></li>
                                            <li class="nav-item"><a href="../../../../layout_4/LTR/default/full/index.html" class="nav-link">Layout 4</a></li>
                                            <li class="nav-item"><a href="../../../../layout_5/LTR/default/full/index.html" class="nav-link">Layout 5</a></li>
                                            <!--<li class="nav-item"><a href="../../../../layout_6/LTR/default/full/index.html" class="nav-link disabled">Layout 6 <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="media">
                                <!--<div class="mr-3">-->
                                <!--<a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>-->
                                <!--</div>-->

                                <div class="media-body">
                                    <a class="nav-link collapsed text-default" data-toggle="collapse" data-target="#accordion-item-group8"><i class="icon-copy" style="color:black;"></i>Layout1</a>
                                    <div class="text-muted font-size-sm">
                                        <ul style="list-style: none;" id="accordion-item-group8" class="collapse show" data-parent="#accordion-group">
                                            <li class="nav-item"><a ng-href="/Admin/base/pr/" class="nav-link active" >Default layout</a></li>
                                            <li class="nav-item"><a href="../../../../layout_2/LTR/default/full/index.html" class="nav-link">Layout 2</a></li>
                                            <li class="nav-item"><a href="../../../../layout_3/LTR/default/full/index.html" class="nav-link">Layout 3</a></li>
                                            <li class="nav-item"><a href="../../../../layout_4/LTR/default/full/index.html" class="nav-link">Layout 4</a></li>
                                            <li class="nav-item"><a href="../../../../layout_5/LTR/default/full/index.html" class="nav-link">Layout 5</a></li>
                                            <!--<li class="nav-item"><a href="../../../../layout_6/LTR/default/full/index.html" class="nav-link disabled">Layout 6 <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>-->
                                        </ul>
                                    </div>
                                    <!--<a class="nav-link collapsed text-default" data-toggle="collapse" data-target="#accordion-item-group8" style="color:white;"><i class="icon-copy"></i> <span>Layouts</span></a>-->
                                    <!--<ul style="list-style: none;" id="accordion-item-group8" class="collapse" data-parent="#accordion-group">-->
                                        <!--<li class="nav-item"><a href="index.html"  class="nav-link active">Default layout</a></li>-->
                                        <!--<li class="nav-item"><a href="../../../../layout_2/LTR/default/full/index.html"  class="nav-link">Layout 2</a></li>-->
                                        <!--<li class="nav-item"><a href="../../../../layout_3/LTR/default/full/index.html`"  class="nav-link">Layout 3</a></li>-->
                                        <!--<li class="nav-item"><a href="../../../../layout_4/LTR/default/full/index.html"  class="nav-link">Layout 4</a></li>-->
                                        <!--<li class="nav-item"><a href="../../../../layout_5/LTR/default/full/index.html"  class="nav-link">Layout 5</a></li>-->
                                        <!--<li class="nav-item"><a href="../../../../layout_6/LTR/default/full/index.html"  class="nav-link disabled">Layout 6 <span class="badge bg-transparent align-self-center ml-auto">Coming soon</span></a></li>-->
                                    <!--</ul>-->
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                    <div class="text-muted font-size-sm">2 hours ago</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                    <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!--<div class="dropdown-content-footer bg-light">-->
                        <!--<a href="#" class="text-grey mr-auto">All updates</a>-->
                        <!--<div>-->
                            <!--<a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>-->
                            <!--<a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </li>
        </ul>

        <span class="badge ml-md-3 mr-md-auto">&nbsp;</span>

        <ul class="navbar-nav">


            <li class="nav-item dropdown dropdown-user" ng-controller="baseController">
                <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                    <!--<img src="../../assets/CSS/global_assets/images/placeholders/placeholder.jpg" class="rounded-circle mr-2" height="34" alt="">-->
                    <span ng-init="loginId();"><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;{{loginIdData.emailIdData}}</span>
                </a>

                <!--<div class="dropdown-menu dropdown-menu-right">-->
                    <!--<a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>-->
                    <!--<a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>-->
                    <!--<a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>-->
                    <!--<div class="dropdown-divider"></div>-->
                    <!--<a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>-->
                    <!--<a ng-href="/logout/" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>-->
                <!--</div>-->
            </li>
        </ul>
    </div>
    <!--mobile navbar detail-->

</div>
<!--header-->

<!-- /main navbar -->
<!--<div class="page-content">-->

<!--</div>-->
<!--<script>-->
    <!--function toggle() {-->
        <!--var toggledata = document.getElementById("toggleDIV");-->
        <!--if (toggledata.style.display === "none") {-->
            <!--toggledata.style.display = "block";-->
        <!--} else {-->
            <!--toggledata.style.display = "none";-->
        <!--}-->
    <!--}-->
<!--</script>-->
