<div class="all-content-wrapper">
        <div class="container-fluid">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <!--Form-->
                      <form role="form">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" role="tabpanel">    
                              <br>
                            <!---Breadcrumb-->
                              <h5>Admin >> <span class="table-project-n">Manager >> Add Manager</span></h5>
                             <!---Breadcrumb-->          
                            <div class="sparkline12-graph">
                              <div class="basic-login-form-ad">  
                                  <div class="row">    
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="all-form-element-inner">  
                                              <form action="#">
                                                  <!---Personal Details-->
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width:150px;">
                                                                    <label class="login2" style="font-size:15px;color:#ff470d;">Personal Details</label>
                                                                </div>
                                                              <hr style="width:82%;">
                                                            </div>
                                                        </div>
                                                 
                                                  <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width: 170px;">
                                                                <label class="login2 pull-right pull-right-pro">Name*</label>
                                                            </div>
                                                            
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" class="form-control"/>
                                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                <label class="login2 pull-right pull-right-pro">Profile Picture</label>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Upload
                                                                            <input type="file" >
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro">Mobile No.*</label>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:105px;">
                                                                        <input type="text" class="form-control" placeholder="91"/>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="123456789"/>
                                                                        </div>
                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                        <label class="login2 pull-right pull-right-pro">Alternate Mobile</label>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:105px;">
                                                                            <input type="text" class="form-control" placeholder="91"/>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                <input type="text" class="form-control" placeholder="123456789"/>
                                                                            </div>
                                                                           
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                            <label class="login2 pull-right pull-right-pro">Email-ID</label>
                                                                        </div>
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                                <input type="text" class="form-control" placeholder="abcd@gmail.com"/>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                               
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                              <label class="login2 pull-right pull-right-pro">Address</label>
                                                          </div>
                                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <textarea class="form-control" type="text" placeholder="Address1"></textarea>
                                                              </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                              <!-- <label class="login2 pull-right pull-right-pro">Address*</label> -->
                                                          </div>
                                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <textarea class="form-control" type="text"placeholder="Address2"></textarea>
                                                              </div>
                                                      </div>
                                                  </div>
                                                  <div class="date-picker-inner">
                                                    <div class="row">
    
                                                     <div class="form-group data-custon-pick" id="data_1">
                                                         <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                       
                                                         <label class="login2 pull-right pull-right-pro"><b>Date Of Birth</b></label>
                                                         </div>
                                                         <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                                       
                                                         <div class="input-group date">
                                                             <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                             <input type="text" class="form-control" value="10/04/2017">
                                                         </div>
                                                         </div>
                                                     </div> 
                                                         
                                                     </div>
                                                 </div> 
                                                 <br>
                                                 <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro">Sex</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                            <div class="form-select-list">
                                                                    <select class="form-control custom-select-value" name="account">
                                                                            <option>Male</option>
                                                                            <option>Female</option>
                                                                           
                                                                        </select>
                                                                </div>
                                                    </div>    
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                                <label class="login2 pull-right pull-right-pro">Language Proficiency</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                  <div class="bt-df-checkbox pull-left">
                                                                      <label style="margin-right: 15px;">
                                                                              <input class="pull-left radio-checked" type="checkbox">Hindi</label>
                                                                      <label style="margin-right: 15px;">
                                                                              <input class="pull-left radio-checked" type="checkbox">English</label>
                                                                    
                                                                  </div>
                                                              </div>
                                                              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6" style="width:100px;">
                                                                      <label class="login2 ">Any Other</label>
                                                                  </div>
                                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" >
                                                                          <input type="text" class="form-control" placeholder="Any Other Language"/>
                                                                      </div>
                                                               
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro">Role</label>
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                                    <div class="form-select-list">
                                                                            <select class="form-control custom-select-value" name="account">
                                                                                    <option>Regional Manager</option>
                                                                                    <option>Cluster Manager</option>
                                                                                    <option>Community Manager</option>
                                                                                    <option>Care Coordinator</option>
                                                                                   
                                                                                </select>
                                                                        </div>
                                                            </div>    
                                                            </div>
                                                        </div>
                                                     
                                                 <!---Personal Details-->
    
                                                  <!---KYC Document-->
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:200px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;color:#ff470d;">KYC Document Upload
                                                            
                                                            </label>
                                                            
                                                        </div>
                                                        <hr style="width:78%;">
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Aadhar Card</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">PAN Card</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Driving Licence</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Voter ID</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Passport</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!---KYC Document-->
    
                                                <!---Educational Qualication-->
                                                       <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:200px;">
                                                                    <label class="login2 pull-right pull-right-pro" style="font-size:15px;color:#ff470d;">Educational Qualication</label>
                                                                </div>
                                                              <hr style="width:78%;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" value="Degree/Diploma" readonly/>
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control" Value="Year of Passing" readonly/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" Value="University" readonly/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" />
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" />
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" />
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                          <!---Educational Qualication-->
                                                          
                                                        <!---Settings-->
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:100px;">
                                                                            <label class="login2" style="font-size:15px;color:#ff470d;">Settings
                                                                                                                        
                                                                            </label>
                                                                                                                        
                                                                    </div>
                                                                     <hr style="width:86.85%;">
                                                            </div>
                                                        </div>
                                                                                                            <div class="form-group-inner">
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                                                                            <label class="login2 pull-right pull-right-pro">User Name</label>
                                                                                                                        </div>
                                                                                                                        
                                                                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                                                                        <input type="text" class="form-control"/>
                                                                                                                                    </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                    <div class="form-group-inner">
                                                                                                                            <div class="row">
                                                                                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                                                                                    <label class="login2 pull-right pull-right-pro">Password</label>
                                                                                                                                </div>
                                                                                                                                
                                                                                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                                                                                <input type="password" class="form-control"/>
                                                                                                                                            </div>
                                                                                                                                            
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <!---Settings-->
                                                                                                                   
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      
                            <ul class="list-inline pull-right" ng-controller="addManagerController">
                               <li>
                                 <a class="btn btn-primary next-step" ng-click="clicked()" href="">Add</a>
                               </li>
                              <li>
                                <a class="btn btn-default prev-step" style="color:black;">Cancel</a>
                              </li>
                             
                            </ul>
                          </div>
                          
                          
                          
                        </div>
                      </form>
                    <!--Form-->
              
              
                  </div>
                </div>
              </div>
    </div>
    