<div class="all-content-wrapper">
        <div class="container-fluid">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <!--Form-->
                      
                      
                        <div class="tab-content">
                          <div class="tab-pane fade in active" role="tabpanel">    
                              <br>
                            <!---Breadcrumb-->
                              <h5>Manager >> <span class="table-project-n">Manager >> Add Region Manager</span></h5>
                             <!---Breadcrumb-->          
                            <div class="sparkline12-graph" >
                              <div class="basic-login-form-ad">  
                                  <div class="row">    
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="all-form-element-inner">  
                                              <form name="form">
                                                  <!---Personal Details-->
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="width:150px;">
                                                                    <label class="login2" style="font-size:15px;color:#ff470d;">Personal Details</label>
                                                                </div>
                                                              <hr style="width:82%;">
                                                            </div>
                                                        </div>
                                                 
                                                  <div class="form-group-inner" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width: 170px;">
                                                                <label class="login2 pull-right pull-right-pro">Name*</label>
                                                            </div>
                                                            
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" class="form-control" ng-model="addRegionManagerdata.rm_name" name="name" 
                                                                            required ng-minlength=3 ng-maxlength=20 ng-pattern="/^[a-zA-Z]+$/">
                                                                        </div>
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 inputdata">
                                                                            <div ng-show="form.name.$dirty && form.name.$invalid">
                                                                                    <!-- <p ng-show="form.name.$error.required" class="help-block">Your name is required.</p> -->
                                                                                    <p ng-show="form.name.$error.minlength" class="help-block">Your name must be greater than 3 characters.</p>
                                                                                    <p ng-show="form.name.$error.maxlength" class="help-block">Your name be less than 20 characters.</p>
                                                                                    <p ng-show="form.name.$error.pattern" class="help-block">Only alphabets please.</p>
                                                                            </div>
                                                                            <div ng-show="form.name.$invalid">
                                                                                    <p ng-show="form.name.$error.required" class="help-block">Your name is required.</p>
                                                                                   
                                                                            </div>
                                                                           </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                <label class="login2 pull-right pull-right-pro">Profile Picture</label>
                                                            </div>
                                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                                <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                    <div class="input append-small-btn">
                                                                        <div class="file-button">
                                                                            Upload
                                                                            <input type="file" >
                                                                        </div>
                                                                        <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                    <div class="form-group-inner" ng-class="{ 'has-error' : form.phonenumber.$invalid && !form.phonenumber.$pristine }">
                                                            <div class="row">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro">Mobile No.*</label>
                                                                </div>
                                                                
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:105px;">
                                                                        <input type="text" class="form-control" Value="+91" readonly/>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <input type="text" class="form-control" placeholder="123456789" ng-model="addRegionManagerdata.rm_mob"name="phonenumber" 
                                                                            required ng-minlength="10" ng-maxlength=10 ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/">
                                                                        </div>
                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 inputdata">
                                                                            <div ng-show="form.phonenumber.$dirty && form.phonenumber.$invalid">
                                                                                    <!-- <p ng-show="form.preferredname.$error.required" class="help-block">Mobile Number is required.</p> -->
                                                                                    <!-- <p ng-show="form.phonenumber.$error.minlength" class="help-block">Your mobile number only 10 digits.</p> -->
                                                                                    <p ng-show="form.phonenumber.$error.maxlength" class="help-block">Your mobile number only 10 digits.</p>
                                                                                    <!-- <p ng-show="form.phonenumber.$error.pattern" class="help-block">Only numbers please.</p> -->
                                                                                  </div>
                                                                                  <div ng-show="form.phonenumber.$invalid">
                                                                                        <p ng-show="form.phonenumber.$error.required" class="help-block">Mobile Number is required.</p>
                                                                                       
                                                                                      </div>
                                                                           </div>
                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                        <label class="login2 pull-right pull-right-pro">Alternate Mobile</label>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:105px;">
                                                                            <input type="text" class="form-control" Value="+91" readonly/>
                                                                        </div>
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                <input type="text" class="form-control" placeholder="123456789" ng-model="addRegionManagerdata.rm_alt_mob_no"/>
                                                                            </div>
                                                                           
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine }">
                                                                    <div class="row">
                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                            <label class="login2 pull-right pull-right-pro">Email-ID</label>
                                                                        </div>
                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                                <input type="email" class="form-control" placeholder="abcd@gmail.com" ng-model="addRegionManagerdata.rm_email" name="email" required/>
                                                                            </div>
                                                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                                                    <div ng-show="form.email.$error.email" class="help-block">That is not a valid email.</div>
                                                                                    <div ng-show="form.email.$invalid">
                                                                                            <p ng-show="form.email.$error.required" class="help-block">Email is required.</p>
                                                                                           
                                                                                          </div>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                               
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                              <label class="login2 pull-right pull-right-pro">Address</label>
                                                          </div>
                                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                            <textarea class="form-control" type="text" placeholder="Address1" ng-model="addRegionManagerdata.rm_address"></textarea>
                                                              </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                              <!-- <label class="login2 pull-right pull-right-pro">Address*</label> -->
                                                          </div>
                                                          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <textarea class="form-control" type="text"placeholder="Address2" ng-model="addRegionManagerdata.rm_address1"></textarea>
                                                              </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                <label class="login2 pull-right pull-right-pro">Date of Birth</label>
                                                            </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <div class="input-group" style="width:200px"  ng-init="init()">
                                                                                <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="addRegionManagerdata.rm_dob" is-open="isDatepickerOpen" datepicker-options="datepickerOptions"  close-text="Close" alt-input-formats="altInputFormats"/>
                                                                                <span class="input-group-btn">
                                                                                  <button type="button" class="btn btn-default" ng-click="isDatepickerOpen = !isDatepickerOpen">
                                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                                  </button>
                                                                                </span>
                                                                              </div>
                                                                    </div>
                                                                   
                                                        </div>
                                                    </div>
                                                 <br>
                                                 <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro">Gender</label>
                                                        </div>
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                            <select ng-model="selectedgender"  class="form-control" ng-options="gender.name for gender in gender"  >
                                                            </select>
                                                    </div>    
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                                <label class="login2 pull-right pull-right-pro">Language Proficiency</label>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                  <div class="bt-df-checkbox pull-left">
                                                                     
                                                                                <label style="margin-right: 15px;" ng-repeat="album in albums">
                                                                                    <input type="checkbox" ng-model="album.selected" value={{album.name}} /> {{album.name}}
                                                                                    <!-- {{albumNameArray}} -->
                                                                                </label>
                                                                             <input type="checkbox" name="currency" id="portal" ng-model="portalIdEnabled">
                                                                                    <label for="portal">Other</label>
                                                                                    
                                                                                    <label for="usePortal"></label>
                                                                                    <input type="text" id="usePortal" class="form-control" ng-model="languageOther" ng-show="portalIdEnabled"/>
                                                                                
                                                                                  
                                                                  </div>
                                                              </div>
                                                              <!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-6" style="width:100px;">
                                                                      <label class="login2 ">Any Other</label>
                                                                  </div>
                                                                  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" >
                                                                          <input type="text" class="form-control" placeholder="Any Other Language"/>
                                                                      </div>
                                                                -->
                                                        </div>
                                                    </div>
                                                    <!-- <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro">Role</label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                                                                    <input type="text" class="form-control" placeholder="Role" ng-model="addRegionManagerdata.user_type"/>
                                                                     
                                                            </div>    
                                                            </div>
                                                        </div> -->
                                                     
                                                 <!---Personal Details-->
    
                                                  <!---KYC Document-->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:200px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;color:#ff470d;">KYC Document Upload
                                                            
                                                            </label>
                                                            
                                                        </div>
                                                        <hr style="width:78%;">
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Aadhar Card</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">PAN Card</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Driving Licence</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Voter ID</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                            <label class="login2 pull-right pull-right-pro" style="font-size:15px;">Passport</label>
                                                        </div>
                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                                            <div class="file-upload-inner file-upload-inner-right ts-forms">
                                                                <div class="input append-small-btn">
                                                                    <div class="file-button">
                                                                        Upload
                                                                        <input type="file" >
                                                                    </div>
                                                                    <input type="text" id="append-small-btn" placeholder="no file selected">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!---KYC Document-->
    
                                                <!---Educational Qualication-->
                                                       <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:200px;">
                                                                    <label class="login2 pull-right pull-right-pro" style="font-size:15px;color:#ff470d;">Educational Qualication</label>
                                                                </div>
                                                              <hr style="width:78%;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" value="Degree/Diploma" readonly/>
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control" Value="Year of Passing" readonly/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" Value="University" readonly/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.rm_education_1"/>
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.year1"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.university1"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.rm_education_2"/>
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.year2"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.university2"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro"></label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.rm_education_3"/>
                                                                </div> 
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.year3"/>
                                                                </div> 
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                    <input type="text" class="form-control" ng-model="addRegionManagerdata.university3"/>
                                                                </div> 
                                                              
                                                            </div>
                                                        </div>
                                                          <!---Educational Qualication-->
                                                          
                                                        <!---Settings-->
                                                        <!-- <div class="form-group-inner">
                                                            <div class="row">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:100px;">
                                                                            <label class="login2" style="font-size:15px;color:#ff470d;">Settings
                                                                                                                        
                                                                            </label>
                                                                                                                        
                                                                    </div>
                                                                     <hr style="width:86.85%;">
                                                            </div>
                                                        </div> -->
                                                                                                            <!-- <div class="form-group-inner">
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                                                                            <label class="login2 pull-right pull-right-pro">User Name</label>
                                                                                                                        </div>
                                                                                                                        
                                                                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                                                                        <input type="text" class="form-control"/>
                                                                                                                                    </div>
                                                                                                                    </div>
                                                                                                                </div> -->
                                                                                                                    <!-- <div class="form-group-inner">
                                                                                                                            <div class="row">
                                                                                                                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                                                                                    <label class="login2 pull-right pull-right-pro">Password</label>
                                                                                                                                </div>
                                                                                                                                
                                                                                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                                                                                                <input type="password" class="form-control"/>
                                                                                                                                            </div>
                                                                                                                                            
                                                                                                                            </div>
                                                                                                                        </div> -->
                                                                                                                        <!---Settings-->
                                                                                                                   
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      
                            <ul class="list-inline pull-right" >
                               <li>
                                 <a ng-click="addRegionManager();"  ><button 
                                    ng-disabled = "form.name.$error.required || form.phonenumber.$error.required ||form.email.$error.required"                                                                                     "
                                    type="submit" class="btn btn-primary next-step" >Add</button></a>
                               </li>
                              <li>
                                <a  style="color:black;" href="/manager/"><button class="btn btn-default prev-step" type="submit">Cancel</button></a>
                              </li>
                             
                            </ul>
                          </div>
                          
                          
                          
                        </div>
                     
                    <!--Form-->
              
              
                  </div>
                </div>
              </div>
              
    </div>
    