<div class="all-content-wrapper" ng-controller="mainController">
        <br>
    <div class="widget-program-bg" >
        <br>
        <div class="widget-program-bg">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel hbgred responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-bg-pro">
                                        <h3>EMERGENCY NEW</h3>
                                        <p class="text-big font-light">
                                            4
                                        </p>
                                        <!-- <small>
                                                    Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                                </small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel hbgyellow responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-bg-pro">
                                        <h3>EMRG UNDERGOING</h3>
                                        <p class="text-big font-light">
                                            6
                                        </p>
                                        <!-- <small>
                                                    Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                                </small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel hbggreen responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-bg-pro">
                                        <h3>CUSTOMER</h3>
                                        <p class="text-big font-light">
                                            4
                                        </p>
                                        <!-- <small>
                                                    Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                                </small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel hbgblue">
                                <div class="panel-body">
                                    <div class="text-center content-bg-pro">
                                        <h3>RESPONDER</h3>
                                        <p class="text-big font-light">
                                            15
                                        </p>
                                        <!-- <small>
                                                    Lorem Ipsum passages and more recently with desktop published software like Aldus.
                                                </small> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
    <!-- <div class="alert alert-danger" ng-init="myFunction();">
        <strong>Emergency!</strong> {{datavalue}}
      </div> -->
        <!-- <div class="container-fluid" ng-init="loginByAdmin()">
            <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="hpanel hbgred">
                                <div class="panel-body" style="padding-bottom: 0px;">
                                        <center><h4>EMERGENCY</h4></center>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="hpanel hbgblue responsive-mg-b-30">
                                    <div class="panel-body" style="padding-bottom: 0px;">
                                            <center><h4>DUTY ROSTER</h4></center> 
                                           
                                           
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="hpanel hbgyellow responsive-mg-b-30">
                                    <div class="panel-body" style="padding-bottom: 0px;">
                                            <center><h4>SERVICE REQUEST</h4></center>
                                    </div>
                                </div>
                            </div>
               
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="hpanel hbggreen responsive-mg-b-30">
                        <div class="panel-body" style="padding-bottom: 0px;">
                                <center><h4>CUSTOMER</h4></center>
                              
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div> -->
    </div>
    <br>
    <div class="program-widget-bc mt-t-30 mg-b-15">
            <div class="container-fluid">
                
                <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="hpanel responsive-mg-b-30">
                                    <div class="panel-body">
                                        <div class="table-responsive" style="height:305px;">
                                            <table class="table table" ng-init="emergencyDetailsData();">
                                                <thead>
                                                    <tr>
                                                        <center style="font-size:15px;background-color: rgb(255, 125, 92);">NEW</center>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="emergency in emergencyDetails">
                                                             <td><center><a href="/emergency_cases/" style="color:black">{{emergency.cust_name}}-{{emergency.emg_type}}</a></center></td></a>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="hpanel responsive-mg-b-30">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <center style="font-size:15px;background-color: rgb(255, 125, 92);">ACTIVE</center>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <tr>
                                                           <td> 1.	Anuj Joshi – Medical</td>
                                                           <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                    2.	Rinku Mishra- Medical
                                                                    
                                                                    
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                    3.	Mohit sharma – Health
                                                            </td>
                                                            <td></td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="hpanel responsive-mg-b-30">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <center style="font-size:15px;background-color: rgb(255, 125, 92);">CLOSED</center>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr>
                                                               <td>1.	Mohit Shukla – Health
                                                                    </td>
                                                               <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                        2.	Sunil Singh- Medical
                                                                       
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                        3.	Saket Malhotra- Medical
                                                                </td>
                                                                <td></td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="hpanel responsive-mg-b-30">
                                        <div class="panel-body">
                                            <div class="table-responsive" style="height:105px;">
                                                <table class="table ">
                                                    <thead>
                                                        <tr>
                                                            <center style="font-size:15px;background-color: rgba(255, 202, 27, 0.76);">NEW</center>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <tr>
                                                           <td>1.	Anil Kumar- Dentist
                                                                
                                                                </td>
                                                           <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                    2.	Muneet Agarwal- ENT
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                                <td>
                                                                        3.	Anil Kumar- Eye care
                                                                </td>
                                                                <td></td>
                                                            </tr> -->
                                                          
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hpanel responsive-mg-b-30">
                                            <div class="panel-body">
                                                <div class="table-responsive" style="height:105px;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <center style="font-size:15px;background-color: rgba(255, 202, 27, 0.76);">ACTIVE</center>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <!-- <tr>
                                                                        <td>1.	Akshat Mishra- Pathology
                                                                               
                                                                                
                                                                               
                                                                                
                                                                                </td>
                                                                        <td></td>
                                                                     </tr>
                                                                     <tr>
                                                                            <td> 2.	Apoorva kansal-Eye care</td>
                                                                            <td></td>
                                                                         </tr>
                                                            <tr>
                                                               <td>3.	Neha Kumari- Gynaecologist</td>
                                                               <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    4.  Ravi Kumar- Dentist
                                                                </td>
                                                                <td></td>
                                                            </tr> -->
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hpanel responsive-mg-b-30">
                                                <div class="panel-body">
                                                    <div class="table-responsive" style="height:105px;">
                                                        <table class="table table">
                                                            <thead>
                                                                <tr>
                                                                    <center style="font-size:15px;background-color: rgba(255, 202, 27, 0.76);">PENDING</center>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- <tr>
                                                                   <td>1.	Bheem joshi - Dentist
                                                                       
                                                                        
                                                                       
                                                                        </td>
                                                                   <td></td>
                                                                </tr>
                                                                <tr>
                                                                        <td> 2.	Gaurav Rajput - ENT</td>
                                                                        <td></td>
                                                                     </tr>
                                                                     <tr>
                                                                            <td>3.	Bheem Singh - Dentist</td>
                                                                            <td></td>
                                                                         </tr>
                                                                -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hpanel responsive-mg-b-30">
                                                    <div class="panel-body">
                                                        <div class="table-responsive" style="height:100px;">
                                                            <table class="table table">
                                                                <thead>
                                                                    <tr>
                                                                        <center style="font-size:15px;background-color: rgba(255, 202, 27, 0.76);">CLOSED</center>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- <tr>
                                                                       <td> 1.	Mukesh kumar – Eye care</td>
                                                                       <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                                2.	Mukesh kumar – Eye care
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <tr>
                                                                            <td>
                                                                                    3.	Mukesh kumar – Eye care
                                                                            </td>
                                                                            <td></td>
                                                                        </tr> -->
                                                                   
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                    <br>
                                    
                                            
                                </div>
                   
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" >
                            <div class="hpanel responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="table-responsive" style="height:305px;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <center style="font-size:15px;background-color: lightgreen;">NAME</center>
                                                </tr>
                                            </thead>
                                            <tbody ng-init="custmerDetails();">
                                                <tr ng-repeat="customer in customerDetails">
                                                    <td><center><a href="/customer/" style="color:black">{{customer.cust_name}}</a></center></td>
                                                   
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                           
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="hpanel responsive-mg-b-30">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead >
                                                    <tr >
                                                            <!-- <a class="buttondata" href="#">Click me!</a> -->
                                            
                                                        <center style="font-size:15px;background-color: lightblue;">ON DUTY</center>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- <tr>
                                                       <td>1. Gaurav Mathur</td>
                                                       <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                                2. Yash Malhotra
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                                3. Aman Kaushik
                                                        </td>
                                                        <td></td>
                                                    </tr> -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="hpanel responsive-mg-b-30">
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <center style="font-size:15px;background-color: lightblue;">OFF DUTY</center>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <tr>
                                                           <td>1. Sooraj Singh</td>
                                                           <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                    2. Aarav Pradhan
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                3. Ahmad Bakshi
                                                            </td>
                                                            <td></td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hpanel responsive-mg-b-30">
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>
                                                                <center style="font-size:15px;background-color: lightblue;">ON LEAVE</center>
                                                            </tr>
                                                            
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr>
                                                               <td>1. Yusuf Khan</td>
                                                               <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    2. Mohammad Yusuf
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    3. Saurabh Chatterjee
                                                                </td>
                                                                <td></td>
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                <br>
                               
                            </div>
                           
                    
                </div>
            </div>
            
        </div>
        
       
        
            
            
    </div>
    
    