<div class="all-content-wrapper">
        <div id="zoomInTop1" class="modal modal-adminpro-general modal-zoomInDown fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-close-area modal-close-df">
                            <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                        </div>
                        <div class="modal-body">
                            <div class="modal-login-form-inner">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="basic-login-inner modal-basic-inner">
                                           <center>
                                                <img src="../assets/images/admin_img/contact/5.jpg" class="img-thumbnail" alt="" style="width:400px;">
                                                </center>  
                                                <br>                                    
                                            <form action="#">
                                               
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" >

                                                                    <label class="login2 " style="font-size:15px;">Aadhar Card:</label>
                                                                    <label class="login2 " style="font-size:15px;">PAN Card:</label>
                                                                
                                                                </div>
                                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  <br>
                                                                        <label class="login2" style="font-size:15px;">dls1256sa</label>  <br>
                                                                         
                                                                </div>
                                                              
                                                                
                                                            </div>
                                                        </div>
                                                        
                                                <div class="login-btn-inner">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <div class="login-horizental">
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Download</button>
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Print</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="data-table-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="sparkline13-list">
                            <div class="sparkline13-hd">
                                <div class="main-sparkline13-hd">
                                    <h1>CareGiver Record :  <span class="table-project-n">Tiger Nixon</span></h1>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="admintab-wrap mg-t-30">
                                            <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                                <li class="active"><a data-toggle="tab" href="#KYC"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>KYC</a>
                                                </li>
                                                <li><a data-toggle="tab" href="#Medical"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Medical</a>
                                                </li>
                                                <li><a data-toggle="tab" href="#Financial"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Financial</a>
                                                </li>
                                                <li><a data-toggle="tab" href="#Assets"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Assets</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="KYC" class="tab-pane in active animated flipInX custon-tab-style1">
                                                   <div class="row">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 search">
                                                                <input class="form-control" type="text" placeholder="Search">
                                                        </div>
                                                        <!-- <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12"> -->
                                                                <ul class="list-inline pull-right">
                                                                        <li>
                                                                            <a class="btn btn-primary next-step" style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
                                                                        </li>
                                                                        <li>
                                                                                <a class="btn btn-primary next-step"  style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Update</a>
                                                                            </li>
                                                                        <li>
                                                                            <a class="btn btn-primary next-step"  style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete</a>
                                                                        </li>
                                                                       
                                                                        <li>
                                                                            <a class="btn btn-primary next-step"  style="background-color:#383838;border-color:#383838;"><i class="fa fa-print" aria-hidden="true"></i>&nbsp;Print</a>
                                                                        </li>
                                                                        
                                                                      </ul>     
                                                        <!-- </div> -->
                                                   </div>
                                                   <div class="widgets-programs-area mg-t-15">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <form role="form">
                                                                           <div class="row">
                                                                               <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="width:50px;">
                                                                                    <div class="bt-df-checkbox pull-left">
                                                                                            <label >
                                                                                                    <input class="pull-left radio-checked" type="checkbox" style="margin-top: 55px;">    
                                                                                            </label>
                                                                                    </div>
                                                                               </div>
                                                                               <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                                                                  <div class="panel panel-default">
                                                                                      <div class="panel-body">
                                                                                         <div class="row">
                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                    <img src="../assets/images/admin_img/contact/5.jpg" class="img-thumbnail" alt="" >
                                                                                            </div>
                                                                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                                    <div class="form-group-inner">
                                                                                                            <div class="row">
                                                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" >
                                                                                                                    <label class="login2 " style="font-size:15px;">Aadhar Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">PAN Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">Driving Licence:</label>
                                                                                                                 
                                                                                                                </div>
                                                                                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">dls1256sa</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  
                                                                                                                         
                                                                                                                </div>
                                                                                                                <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <a class="btn btn-primary next-step">View</a>
                                                                                                                </div> -->
                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <div class=" responsive-mg-b-30">
                                                                                                                           
                                                                                                                            <div class="sparkline11-graph">
                                                                                                                                <div class="basic-login-form-ad">
                                                                                                                                    <div class="row">
                                                                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                                            <div class="modal-bootstrap modal-login-form">
                                                                                                                                                <a class="zoomInDown mg-t" href="#" data-toggle="modal" data-target="#zoomInTop1">View</a>
                                                                                                                                                
                                                                                                                                            </div>
                                                                                                                                           
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        
                                                                                            </div>
                                                                                            
                                                                                         </div>
                                                                                        
                                                                                      </div>
                                                                                  </div> 
                                                                               </div>
                                                                           </div>
                                                                            
                                                                    </form>
                                                                   
                                                                </div>
                                                        
                                                               
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widgets-programs-area mg-t-15">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <form role="form">
                                                                           <div class="row">
                                                                               <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="width:50px;">
                                                                                    <div class="bt-df-checkbox pull-left">
                                                                                            <label >
                                                                                                    <input class="pull-left radio-checked" type="checkbox" style="margin-top: 55px;">    
                                                                                            </label>
                                                                                    </div>
                                                                               </div>
                                                                               <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                                                                  <div class="panel panel-default">
                                                                                      <div class="panel-body">
                                                                                         <div class="row">
                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                    <img src="../assets/images/admin_img/contact/5.jpg" class="img-thumbnail" alt="" >
                                                                                            </div>
                                                                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                                    <div class="form-group-inner">
                                                                                                            <div class="row">
                                                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" >
                                                                                                                    <label class="login2 " style="font-size:15px;">Aadhar Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">PAN Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">Driving Licence:</label>
                                                                                                                 
                                                                                                                </div>
                                                                                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">dls1256sa</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  
                                                                                                                         
                                                                                                                </div>
                                                                                                                <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <a class="btn btn-primary next-step">View</a>
                                                                                                                </div> -->
                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <div class=" responsive-mg-b-30">
                                                                                                                           
                                                                                                                            <div class="sparkline11-graph">
                                                                                                                                <div class="basic-login-form-ad">
                                                                                                                                    <div class="row">
                                                                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                                            <div class="modal-bootstrap modal-login-form">
                                                                                                                                                <a class="zoomInDown mg-t" href="#" data-toggle="modal" data-target="#zoomInTop1">View</a>
                                                                                                                                                
                                                                                                                                            </div>
                                                                                                                                           
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        
                                                                                            </div>
                                                                                            
                                                                                         </div>
                                                                                        
                                                                                      </div>
                                                                                  </div> 
                                                                               </div>
                                                                           </div>
                                                                            
                                                                    </form>
                                                                   
                                                                </div>
                                                        
                                                               
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widgets-programs-area mg-t-15">
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                    <form role="form">
                                                                           <div class="row">
                                                                               <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" style="width:50px;">
                                                                                    <div class="bt-df-checkbox pull-left">
                                                                                            <label >
                                                                                                    <input class="pull-left radio-checked" type="checkbox" style="margin-top: 55px;">    
                                                                                            </label>
                                                                                    </div>
                                                                               </div>
                                                                               <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                                                                                  <div class="panel panel-default">
                                                                                      <div class="panel-body">
                                                                                         <div class="row">
                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                    <img src="../assets/images/admin_img/contact/5.jpg" class="img-thumbnail" alt="" >
                                                                                            </div>
                                                                                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                                                                                    <div class="form-group-inner">
                                                                                                            <div class="row">
                                                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" >
                                                                                                                    <label class="login2 " style="font-size:15px;">Aadhar Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">PAN Card:</label>
                                                                                                                    <label class="login2 " style="font-size:15px;">Driving Licence:</label>
                                                                                                                 
                                                                                                                </div>
                                                                                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">dls1256sa</label>  <br>
                                                                                                                        <label class="login2" style="font-size:15px;">7896-5412-3298</label>  
                                                                                                                         
                                                                                                                </div>
                                                                                                                <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <a class="btn btn-primary next-step">View</a>
                                                                                                                </div> -->
                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                                                                                        <div class=" responsive-mg-b-30">
                                                                                                                           
                                                                                                                            <div class="sparkline11-graph">
                                                                                                                                <div class="basic-login-form-ad">
                                                                                                                                    <div class="row">
                                                                                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                                                                                            <div class="modal-bootstrap modal-login-form">
                                                                                                                                                <a class="zoomInDown mg-t" href="#" data-toggle="modal" data-target="#zoomInTop1">View</a>
                                                                                                                                                
                                                                                                                                            </div>
                                                                                                                                           
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        
                                                                                            </div>
                                                                                            
                                                                                         </div>
                                                                                        
                                                                                      </div>
                                                                                  </div> 
                                                                               </div>
                                                                           </div>
                                                                            
                                                                    </form>
                                                                   
                                                                </div>
                                                        
                                                               
                                                            
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                </div>
                                                <div id="Medical" class="tab-pane animated flipInX custon-tab-style1">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                </div>
                                                <div id="Financial" class="tab-pane animated flipInX custon-tab-style1">
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                    <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                                    <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                </div>
                                                <div id="Assets" class="tab-pane animated flipInX custon-tab-style1">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                                        <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>