<div class="all-content-wrapper">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Customer Details :  <span class="table-project-n">Tiger Nixon</span></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="admintab-wrap mg-t-30">
                                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                            <li class="active"><a data-toggle="tab" href="#Personal"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Personal</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Emergency"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Emergency</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Medical"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Medical</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="Personal" class="tab-pane in active animated flipInX custon-tab-style1">
                                                <form role="form">
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:110px;">
                                                            <label class="login2">Name</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <label class="login2">Tiger Nixon</label>
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:110px;">
                                                            <label class="login2">Mobile No.</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <label class="login2">789456123</label>
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:110px;">
                                                            <label class="login2">Address</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <label class="login2">Edinburgh</label>
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:110px;">
                                                            <label class="login2">Location</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                                            <label class="login2">Abcd</label>
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <ul class="list-inline pull-right">
                                                    <li>
                                                        <a class="btn btn-primary next-step">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-default prev-step" style="color:black;">Print</a>
                                                    </li>
                                                    
                                                  </ul>
                                                 </form>

                                            </div>
                                            <div id="Emergency" class="tab-pane animated flipInX custon-tab-style1">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            </div>
                                            <div id="Medical" class="tab-pane animated flipInX custon-tab-style1">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                                <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>