<div class="all-content-wrapper">
        <div class="container-fluid">
                <div class="panel panel-default">
                  <div class="panel-body">
                      <form role="form">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" role="tabpanel">  
                              <br>  
                              <h5>Admin >> <span class="table-project-n">Data Admin >> Settings </span></h5>
                            <div class="sparkline12-graph">
                              <div class="basic-login-form-ad">  
                                  <div class="row">    
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                          <div class="all-form-element-inner">  
                                              <form action="#">
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:100px;">
                                                                            <label class="login2" style="font-size:15px;color:#ff470d;">Settings
                                                                                                                        
                                                                            </label>
                                                                                                                        
                                                                    </div>
                                                                     <hr style="width:86.85%;">
                                                            </div>
                                                        </div>
                                                  <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width: 170px;">
                                                                <label class="login2 pull-right pull-right-pro">Name*</label>
                                                            </div>
                                                            
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2" style="font-weight:normal">Tiger Nixon</label>
                                                                        </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                    <label class="login2 pull-right pull-right-pro">Email*</label>
                                                                </div>
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                        <label class="login2" style="font-weight:normal">abcd@gmail.com</label>
                                                                </div>
                                                                
                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="width:170px;">
                                                                        <label class="login2 pull-right pull-right-pro">User Name</label>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                            <label class="login2" style="font-weight:normal">Tiger Nixon 234</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                  <div class="form-group-inner">
                                                      <div class="row">
                                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                              <label class="login2 pull-right pull-right-pro">Password</label>
                                                          </div>
                                                          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                               <input type="password" class="form-control"/>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                                                <button class="btn btn-sm btn-primary login-submit-cs" type="submit">Change</button>
                                                                   
                                                         </div>
                                                      </div>
                                                  </div>
                                                  <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="width:170px;">
                                                                <label class="login2 pull-right pull-right-pro">Status</label>
                                                            </div>
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" >
                                                                <div class="form-select-list">
                                                                        <select class="form-control custom-select-value" name="account">
                                                                                <option>Active</option>
                                                                                <option>Inactive</option>
                                                                               
                                                                            </select>
                                                                    </div>
                                                        </div>    
                                                        </div>
                                                    </div>
                                                                                                                             
                                                   
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <ul class="list-inline pull-right" ng-controller="dataAdminSettingsController">
                                <li>
                                        <a class="btn btn-primary next-step" ng-click="clicked()">Submit</a>
                                </li>   
                            <li>
                                  <a class="btn btn-default cancel-stepper" style="color:black;">Cancel</a>
                                </li>
                                
                              </ul>
                          </div>
                          
                          
                          
                        </div>
                      </form>
                    
              
              
                  </div>
                </div>
              </div>
</div>
