<div class="all-content-wrapper" ng-controller="customerController" ng-init="custmerDetails()">
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1 >Customer Details :  <span class="table-project-n" ></span></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="admintab-wrap mg-t-30">
                                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                            <li class="active"><a data-toggle="tab" href="#Personal"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Personal</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Emergency"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Emergency</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Medical"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Medical</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="Personal" class="tab-pane in active  custon-tab-style1">
                                                <form role="form">
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                            <label class="login2">Email</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                            <label class="login2">Address</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                            <label class="login2">Community</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                <input type="text" class="form-control" />
                                                        </div>
                                                       
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                    <div class="row">
                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                            <label class="login2">Geolocation</label>
                                                        </div>
                                                        
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                <input type="text" class="form-control" />
                                                        </div>
                                                               
                                                    </div>
                                                </div>
                                                <div class="form-group-inner">
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                <label class="login2">Customer Category</label>
                                                            </div>
                                                            
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                    <input type="text" class="form-control" />
                                                            </div>
                                                           
                                                                   
                                                        </div>
                                                    </div>
                                                    <div class="form-group-inner">
                                                            <div class="row">
                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                    <label class="login2">Preferred Language</label>
                                                                </div>
                                                                
                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                        <input type="text" class="form-control" />
                                                                </div>
                                                               
                                                                       
                                                            </div>
                                                        </div>
                                                        <div class="form-group-inner">
                                                                <div class="row">
                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                        <label class="login2">Date Of Birth</label>
                                                                    </div>
                                                                    
                                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                            <input type="text" class="form-control" />
                                                                    </div>
                                                                   
                                                                           
                                                                </div>
                                                            </div>
                                                            <div class="form-group-inner">
                                                                    <div class="row">
                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                            <label class="login2">Gender</label>
                                                                        </div>
                                                                        
                                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                                <input type="text" class="form-control" />
                                                                        </div>
                                                                       
                                                                               
                                                                    </div>
                                                                </div>
                                                                <div class="form-group-inner">
                                                                        <div class="row">
                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                <label class="login2">Marital Status</label>
                                                                            </div>
                                                                            
                                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                                    <input type="text" class="form-control" />
                                                                            </div>
                                                                           
                                                                                   
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-inner">
                                                                            <div class="row">
                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                    <label class="login2">Date Of Marriage</label>
                                                                                </div>
                                                                                
                                                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                                                        <input type="text" class="form-control" />
                                                                                </div>
                                                                               
                                                                                       
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group-inner">
                                                                                <div class="row">
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                        <label class="login2">Religious Preferrence</label>
                                                                                    </div>
                                                                                    
                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                        <label>{{customerDetailsvalue.cust_religion}}</label>
                                                                                    </div>
                                                                                   
                                                                                           
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group-inner">
                                                                                    <div class="row">
                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                            <label class="login2">Living Place</label>
                                                                                        </div>
                                                                                        
                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                            <label>{{customerDetailsvalue.cust_living_place}}</label>
                                                                                        </div>
                                                                                       
                                                                                               
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group-inner">
                                                                                        <div class="row">
                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                <label class="login2">Living Situation</label>
                                                                                            </div>
                                                                                            
                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                <label>{{customerDetailsvalue.cust_living_situation}}</label>
                                                                                            </div>
                                                                                           
                                                                                                   
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group-inner">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                    <label class="login2">Staying With</label>
                                                                                                </div>
                                                                                                
                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                    <label>{{customerDetailsvalue.cust_statying_with}}</label>
                                                                                                </div>
                                                                                               
                                                                                                       
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-group-inner">
                                                                                                <div class="row">
                                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                        <label class="login2">Family Members</label>
                                                                                                    </div>
                                                                                                    
                                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                        <label>{{customerDetailsvalue.cust_family_member_1}}</label>
                                                                                                    </div>
                                                                                                      
                                                                                                </div>
                                                                                                <div class="row">
                                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                            <!-- <label class="login2">Family Members</label> -->
                                                                                                        </div>
                                                                                                        
                                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                            <label>{{customerDetailsvalue.cust_family_member_1}}</label>
                                                                                                        </div>
                                                                                                       
                                                                                                               
                                                                                                               
                                                                                                    </div>
                                                                                                    <div class="row">
                                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                <!-- <label class="login2">Family Members</label> -->
                                                                                                            </div>
                                                                                                            
                                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                <label>{{customerDetailsvalue.cust_family_member_1}}</label>
                                                                                                            </div>
                                                                                                           
                                                                                                                   
                                                                                                                   
                                                                                                        </div>
                                                                                            </div>
                                                                                            <div class="form-group-inner">
                                                                                                    <div class="row">
                                                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                                                                                            <label class="login2">Does the home have mobile coverage .</label>
                                                                                                        </div>
                                                                                                        
                                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                            <label>{{customerDetailsvalue.cust_risk_assessment_1}}</label>
                                                                                                        </div>
                                                                                                       
                                                                                                               
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="form-group-inner">
                                                                                                        <div class="row">
                                                                                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                                                                                                <label class="login2">Does the home have a guest washroom that family will allow staff to use .</label>
                                                                                                            </div>
                                                                                                            
                                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                <label>{{customerDetailsvalue.cust_risk_assessment_2}}</label>
                                                                                                            </div>
                                                                                                           
                                                                                                                   
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="form-group-inner">
                                                                                                            <div class="row">
                                                                                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                                                                                                    <label class="login2">Is the home located in a safe area.</label>
                                                                                                                </div>
                                                                                                                
                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                    <label>{{customerDetailsvalue.cust_risk_assessment_3}}</label>
                                                                                                                </div>
                                                                                                               
                                                                                                                       
                                                                                                            </div>
                                                                                                        </div>
                                                                                                        <div class="form-group-inner">
                                                                                                                <div class="row">
                                                                                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                                                                                                        <label class="login2">Is home easily accessible via public transport .</label>
                                                                                                                    </div>
                                                                                                                    
                                                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                        <label>{{customerDetailsvalue.cust_risk_assessment_4}}</label>
                                                                                                                    </div>
                                                                                                                   
                                                                                                                           
                                                                                                                </div>
                                                                                                            </div>
                                                                                                            <div class="form-group-inner">
                                                                                                                    <div class="row">
                                                                                                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                                                                                                            <label class="login2">Are there any potential safety concerns for staff.</label>
                                                                                                                        </div>
                                                                                                                        
                                                                                                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                            <label>{{customerDetailsvalue.cust_risk_assessment_5}}</label>
                                                                                                                        </div>
                                                                                                                       
                                                                                                                               
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <div class="form-group-inner">
                                                                                                                        <div class="row">
                                                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                <label class="login2">Educational Qualication.</label>
                                                                                                                            </div>
                                                                                                                            
                                                                                                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                <label>{{customerDetailsvalue.cust_education_1}}</label>
                                                                                                                            </div>
                                                                                                                           
                                                                                                                                   
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    <div class="form-group-inner">
                                                                                                                            <div class="row">
                                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                    <!-- <label class="login2">Educational Qualication.</label> -->
                                                                                                                                </div>
                                                                                                                                
                                                                                                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                    <label>{{customerDetailsvalue.cust_education_2}}</label>
                                                                                                                                </div>
                                                                                                                               
                                                                                                                                       
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                        <div class="form-group-inner">
                                                                                                                                <div class="row">
                                                                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                        <!-- <label class="login2">Educational Qualication.</label> -->
                                                                                                                                    </div>
                                                                                                                                    
                                                                                                                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                                                                                                                                        <label>{{customerDetailsvalue.cust_education_3}}</label>
                                                                                                                                    </div>
                                                                                                                                   
                                                                                                                                           
                                                                                                                                </div>
                                                                                                                            </div>
                                                <ul class="list-inline pull-right">
                                                    <li>
                                                        <a class="btn btn-primary next-step" href="/customer/customerdetails/editCustomerDetails">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a class="btn btn-default prev-step" style="color:black;">Print</a>
                                                    </li>
                                                    
                                                  </ul>
                                                 </form>

                                            </div>
                                            <div id="Emergency" class="tab-pane animated flipInX custon-tab-style1">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            </div>
                                            <div id="Medical" class="tab-pane animated flipInX custon-tab-style1">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                                <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. </p>
                                                <p>the leap into electronic typesetting, remaining essentially unchanged.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>