<div class="all-content-wrapper" >
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row" ng-init="emergencyIdData();">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1 >Emergency Case:  <span class="table-project-n">{{careManagerIdValue.crm_name}}</span></h1>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <!-- <div class="admintab-wrap mg-t-30"> -->
                                        <!-- <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                            <li class="active"><a data-toggle="tab" href="#Personal"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Personal</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Emergency"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Emergency</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Medical"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Medical</a>
                                            </li>
                                        </ul> -->
                                       <div class="tab-content">
                                            <div id="Personal" class="tab-pane in active  custon-tab-style1">
                                                <form role="form"></form>
                                                                                                                            <div class="panel-body">
                                                                                                                                <div class="table-responsive">
                                                                                                                                    <table class="table table-striped table-bordered">
                                                                                                                                        <!-- <thead>
                                                                                                                                          <tr>
                                                                                                                                            <th>Firstname</th>
                                                                                                                                            <th>Lastname</th>
                                                                                                                                            <th>Email</th>
                                                                                                                                          </tr>
                                                                                                                                        </thead> -->
                                                                                                                                        <tbody>
                                                                                                                                         <tr>
                                                                                                                                            <td><b>Emergency Reference No.</b></td>
                                                                                                                                            <td>{{emergency.emg_case_no}}</td>
                                                                                                                                                       
                                                                                                                                         </tr>
                                                                                                                                         <tr>
                                                                                                                                                <td><b>Date and Time</b></td>
                                                                                                                                                <td>{{emergency.date}}</td>
                                                                                                                                               
                                                                                                                                              </tr>
                                                                                                                                              <tr>
                                                                                                                                                    <td><b>Customer Code</b></td>
                                                                                                                                                    <td>{{emergency.cust_code}}</td>
                                                                                                                                                   
                                                                                                                                                  </tr>
                                                                                                                                          <tr>

                                                                                                                                            <td><b>Customer Name</b></td>
                                                                                                                                            <td>{{emergency.cust_name}}</td>
                                                                                                                                           
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Emergency Type</b></td>
                                                                                                                                            <!-- <td>Moe</td> -->
                                                                                                                                            <td>{{emergency.emg_type}}</td>
                                                                                                                                          </tr>
                                                                                                                                         
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Source Information</b></td>
                                                                                                                                            <!-- <td>Moe</td> -->
                                                                                                                                            <td>{{emergency.emg_source}}</td>
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Responder Feedback</b></td>
                                                                                                                                            <td>{{emergency.responder_acpt_status}}</td>
                                                                                                                                           
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Status</b></td>
                                                                                                                                            <!-- <td>Moe</td> -->
                                                                                                                                            <td>{{emergency.emg_status}}</td>
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Customer Name</b></td>
                                                                                                                                            <td>{{emergency.cust_name}}</td>
                                                                                                                                           
                                                                                                                                          </tr>
                                                                                                                                          <!-- <tr>
                                                                                                                                            <td><b>Customer Address</b></td>
                                                                                                                                           
                                                                                                                                            <td>{{emergency.crm_education_1}}</td>
                                                                                                                                          </tr> -->
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Emergency Description</b></td>
                                                                                                                                            <!-- <td>Moe</td> -->
                                                                                                                                            <td>{{emergency.emg_desc}}</td>
                                                                                                                                          </tr>
                                                                                                                                          <tr>
                                                                                                                                            <td><b>Emergency Location</b></td>
                                                                                                                                            <!-- <td>Moe</td> -->
                                                                                                                                            <td>{{emergency.emg_location}}</td>
                                                                                                                                          </tr>
                                                                                                                                        </tbody>
                                                                                                                                      </table>
                                                                                                                                </div>
                                                                                                                            </div>
                                                <ul class="list-inline pull-right">
                                                    <!-- <li>
                                                        <a class="btn btn-primary next-step" href="/careManager/careManagerDetail/editcareManagerDetail">Edit</a>
                                                    </li> -->
                                                    <!-- <li>
                                                        <a class="btn btn-default prev-step" style="color:black;">Print</a>
                                                    </li> -->
                                                    
                                                  </ul>
                                                 </form>

                                            </div>
                                            
                                        </div>
                                    <!-- </div> -->
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>