<!----Zone----->
<div class="all-content-wrapper">
    
    <div class="data-table-area mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <!----Breadcrumb----->
                                <h5>Admin  Manager>> <span class="table-project-n">Manager</span></h5>
                                <!----Breadcrumb----->
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="admintab-wrap mg-t-30">
                                        <!----Tabs----->
                                        <ul class="nav nav-tabs custom-menu-wrap custon-tab-menu-style1">
                                            <li class="active"><a data-toggle="tab" href="#Region"><span class="adminpro-icon adminpro-analytics tab-custon-ic"></span>Region</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Cluster"><span class="adminpro-icon adminpro-analytics-arrow tab-custon-ic"></span>Cluster</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Community"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Community</a>
                                            </li>
                                            <li><a data-toggle="tab" href="#Coordinator"><span class="adminpro-icon adminpro-analytics-bridge tab-custon-ic"></span>Care Co-ordinator</a>
                                            </li>
                                        </ul>
                                        <!----Tabs----->

                                        <!---Tabs Content-->
                                        <div class="tab-content">
                                            <!--All Table Data-->
                                            <div id="Region" class="tab-pane in active custon-tab-style1">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="sparkline13-list">
                                                            <div class="sparkline13-hd">
                                                                <div class="main-sparkline13-hd">
                                                                      
                                                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right search">
                                                                                                    <input class="form-control" type="text" placeholder="Search" ng-model="Regionmanager">
                                                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline13-graph">
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <div class="row">
                                                                        <ul class="list-inline">
                                                                            <li></li>
                                                                            
                                                                            <li>
                                                                                    <a href="/manager/add_Region_manager" class="btn btn-primary next-step" style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Region Manager</a>
                                                                                </li>
                                                                           
                                                                            
                                                                          </ul>  
                                                                    </div>
                                                                    <br>
                                                                   <div class="container-fluid"> 
                                                                        <table id="customerTable" ng-init="regionManager();" class="table table-bordered table-sm" cellspacing="0" width="100%">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th class="th-sm"><center>Emp ID</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Name</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Mobile No.</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Region</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Status</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Details</center>
                                                                                    </th>
                                                                                    <th class="th-sm" style="color:lightgrey;" ><center>Settings</center>
                                                                                    </th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                 
                                                                                  <!-- <tr>
                                                                                    <td><center>Gurgaon</center></td>
                                                                                    <td><center>Sector 51</center></td>
                                                                                    <td><center>314, Ocus Quantam</center></td>
                                                                                    <td><center>Tiger Nixon</center></td>
                                                                                    <td><center>789456123</center></td> 
                                                                                    <td>
                                                                                            <center>
                                                                                                    <div class="modal-bootstrap modal-login-form" style="padding:0px;border:none;">      
                                                                                                            <button type="button"><a style="color:black;" href="/zone#Region" data-toggle="modal" data-target="#EditRegion">Edit</a></button>  
                                                                                                    </div>
                                                                                            </center>
                                                                                    </td>           
                                                                                  </tr> -->
                                                                                  <tr ng-repeat="regionManager in regionManagerDetails | filter:Regionmanager">
                                                                                        <td>{{regionManager.emp_code}}</td>
                                                                                        <td>{{regionManager.rm_name}}</td>
                                                                                        <td>{{regionManager.rm_mob}}</td>
                                                                                        <td>{{regionManager.region_name}}</td>
                                                                                        <td>{{regionManager.region_status}}</td>
                                                                                        <!-- <td>{{clusterManager.pri_emg_name}}</td> -->
                                                                                        <!-- <td>{{clusterManager.pri_emg_mob}}</td> -->
                                                                                        <!-- <td>{{customer.cust_code}}</td> -->
                                                                                        <td><a ng-href="/manager/regionManagerDetail/{{regionManager.rm_id}}"><center><button type="button" value="{{regionManager.rm_id}}" ng-click="regionId(regionManager.rm_id)">Details</button></center></a></td>
                                                                                        <td><a href="/customer/customerRecord" class="btn-disabled" disabled="disabled"><center><button type="button">Record</button></center></a></td>
                                                                                        <!-- <td><a href=""><center><button type="button">Service Log</button></center></a></td> -->
                                                                                   
                                                                                    </tr>
                                                                                 
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th><center>Emp ID</center>
                                                                                        </th>
                                                                                        <th><center>Name</center>
                                                                                        </th>
                                                                                        <th><center>Mobile No.</center>
                                                                                        </th>
                                                                                        <th><center>Region</center>
                                                                                        </th>
                                                                                        <th><center>Status</center>
                                                                                        </th>
                                                                                        <th><center>Details</center>
                                                                                        </th>
                                                                                        <th style="color:lightgrey;"><center>Settings</center>
                                                                                        </th>
                                                                                      </tr>
                                                                                </tfoot>
                                                                              </table>
                                                                             
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--All Table Data-->

                                            <!--All Region Data-->

                                            <div id="Cluster" class="tab-pane custon-tab-style1">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="sparkline13-list">
                                                            <div class="sparkline13-hd">
                                                                <div class="main-sparkline13-hd">
                                                                       
                                                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right search">
                                                                                                    <input class="form-control" type="text" placeholder="Search" ng-model="clManager">
                                                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline13-graph">
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <div class="row">
                                                                        <ul class="list-inline">
                                                                            <li></li>
                                                                            
                                                                            <li>
                                                                                    <a href="/manager/add_Cluster_Manager" class="btn btn-primary next-step" style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Cluster Manager</a>
                                                                                </li>
                                                                           
                                                                            
                                                                          </ul>  
                                                                    </div>
                                                                    <br>
                                                                   <div class="container-fluid"> 
                                                                        <table id="customerTable" ng-init="clusterManager();" class="table table-bordered table-sm" cellspacing="0" width="100%">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th class="th-sm"><center>Emp Code</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Name</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Mobile No.</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Cluster</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Status</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Details</center>
                                                                                    </th>
                                                                                    <th class="th-sm" style="color:lightgrey;"><center>Settings</center>
                                                                                    </th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="clusterManager in clusterManagerDetails | filter:clManager">
                                                                                    <td>{{clusterManager.emp_code}}</td>
                                                                                    <td>{{clusterManager.clm_name}}</td>
                                                                                    <td>{{clusterManager.clm_mob}}</td>
                                                                                    <td>{{clusterManager.cluster_name}}</td>
                                                                                    <td>{{clusterManager.cluster_status}}</td>
                                                                                    <!-- <td>{{clusterManager.pri_emg_name}}</td> -->
                                                                                    <!-- <td>{{clusterManager.pri_emg_mob}}</td> -->
                                                                                    <!-- <td>{{customer.cust_code}}</td> -->
                                                                                    <td><a ng-href="/manager/clusterManagerDetail/{{clusterManager.clm_id}}"><center><button type="button" value="{{clusterManager.clm_id}}" ng-click="clusterId(clusterManager.clm_id)">Details</button></center></a></td>
                                                                                    <td><a href="/customer/customerRecord" class="btn-disabled" disabled="disabled"><center><button type="button">Record</button></center></a></td>
                                                                                    <!-- <td><a href=""><center><button type="button">Service Log</button></center></a></td> -->
                                                                               
                                                                                </tr>
                                                                                  
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th><center>Emp Code</center>
                                                                                        </th>
                                                                                        <th><center>Name</center>
                                                                                        </th>
                                                                                        <th><center>Mobile No.</center>
                                                                                        </th>
                                                                                        <th><center>Cluster</center>
                                                                                        </th>
                                                                                        <th><center>Status</center>
                                                                                        </th>
                                                                                        <th><center>Details</center>
                                                                                        </th>
                                                                                        <th style="color:lightgrey;"><center>Settings</center>
                                                                                        </th>
                                                                                      </tr>
                                                                                </tfoot>
                                                                              </table>
                                                                             
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--All Region Data-->

                                            <!--All Cluster Data-->

                                            <div id="Community" class="tab-pane custon-tab-style1">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="sparkline13-list">
                                                            <div class="sparkline13-hd">
                                                                <div class="main-sparkline13-hd">
                                                                     
                                                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right search">
                                                                                                    <input class="form-control" type="text" placeholder="Search" ng-model="commManager">
                                                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline13-graph">
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <div class="row">
                                                                        <ul class="list-inline">
                                                                            <li></li>
                                                                            
                                                                            <li>
                                                                                    <a href="/manager/add_Community_Manager" class="btn btn-primary next-step" style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Community Manager</a>
                                                                                </li>
                                                                           
                                                                            
                                                                          </ul>  
                                                                    </div>
                                                                    <br>
                                                                   <div class="container-fluid"> 
                                                                        <table id="customerTable" ng-init="communityManager();" class="table table-bordered table-sm" cellspacing="0" width="100%">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th class="th-sm"><center>Emp ID</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Name</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Mobile No.</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Community</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Status</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Details</center>
                                                                                    </th>
                                                                                    <th class="th-sm" style="color:lightgrey;"><center>Settings</center>
                                                                                    </th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr ng-repeat="communityManager in communityManagerDetails | filter:commManager">
                                                                                        <td>{{communityManager.emp_code}}</td>
                                                                                        <td>{{communityManager.cm_name}}</td>
                                                                                        <td>{{communityManager.cm_mob}}</td>
                                                                                        <td>{{communityManager.comm_name}}</td>
                                                                                        <td>{{communityManager.comm_status}}</td>
                                                                                        <!-- <td>{{clusterManager.pri_emg_name}}</td> -->
                                                                                        <!-- <td>{{clusterManager.pri_emg_mob}}</td> -->
                                                                                        <!-- <td>{{customer.cust_code}}</td> -->
                                                                                        <td><a ng-href="/manager/communityManagerDetail/{{communityManager.cm_id}}"><center><button type="button" value="{{communityManager.cm_id}}" ng-click="communityId(communityManager.cm_id)">Details</button></center></a></td>
                                                                                        <td><a href="/customer/customerRecord" class="btn-disabled" disabled="disabled"><center><button type="button">Record</button></center></a></td>
                                                                                        <!-- <td><a href=""><center><button type="button">Service Log</button></center></a></td> -->
                                                                                   
                                                                                    </tr>
                                                                                  
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th><center>Emp ID</center>
                                                                                        </th>
                                                                                        <th><center>Name</center>
                                                                                        </th>
                                                                                        <th><center>Mobile No.</center>
                                                                                        </th>
                                                                                        <th><center>Community</center>
                                                                                        </th>
                                                                                        <th><center>Status</center>
                                                                                        </th>
                                                                                        <th><center>Details</center>
                                                                                        </th>
                                                                                        <th style="color:lightgrey;"><center>Settings</center>
                                                                                        </th>
                                                                                      </tr>
                                                                                </tfoot>
                                                                              </table>
                                                                              <!-- <div class="row">
                                                                                <h4>Total count : 50
                                                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
                                                                                                <ul class="pagination justify-content-end pull-right" style="font-size:13px;">
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"> << </a></li>
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                                                                                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"> >> </a></li>
                                                                                                      </ul>
                                                                                        </div>
                                                                                </h4>
                                                                              </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--All Cluster Data-->

                                            <!--All Community Data-->

                                            <div id="Coordinator" class="tab-pane custon-tab-style1">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="sparkline13-list">
                                                            <div class="sparkline13-hd">
                                                                <div class="main-sparkline13-hd">
                                                                        <!-- <div class="columns columns-right btn-group pull-right"> -->
                                                                                <!-- <button class="btn btn-default" type="button" name="paginationSwitch" aria-label="pagination Switch" title="Hide/Show pagination"><i class="glyphicon glyphicon-collapse-down icon-chevron-down"></i></button> -->
                                                                                <!-- <button class="btn btn-default" type="button" name="refresh" aria-label="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh"></i></button> -->
                                                                                <!-- <button class="btn btn-default" type="button" name="toggle" aria-label="toggle" title="Toggle"><i class="glyphicon glyphicon-list-alt icon-list-alt"></i></button><div class="keep-open btn-group" title="Columns"> -->
                                                                                <!-- <button type="button" aria-label="columns" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="glyphicon glyphicon-th icon-th"></i> <span class="caret"></span></button> -->
                                                                                <!-- <ul class="dropdown-menu" role="menu">
                                                                                    <li role="menuitem">
                                                                                        <label>
                                                                                            <input type="checkbox" data-field="id" value="1" checked="checked">
                                                                                             ID
                                                                                         </label>
                                                                                     </li>
                                                                                     <li role="menuitem"><label>
                                                                                         <input type="checkbox" data-field="name" value="2" checked="checked"> Product Title</label>
                                                                                     </li>
                                                                                     <li role="menuitem">
                                                                                         <label>
                                                                                             <input type="checkbox" data-field="company" value="3" checked="checked"> Stock</label>
                                                                                     </li>
                                                                                     <li role="menuitem">
                                                                                         <label><input type="checkbox" data-field="price" value="4" checked="checked"> Price</label>
                                                                                     </li><li role="menuitem">
                                                                                         <label><input type="checkbox" data-field="date" value="5" checked="checked"> Date</label>
                                                                                     </li>
                                                                                     <li role="menuitem">
                                                                                         <label><input type="checkbox" data-field="task" value="6" checked="checked"> Status</label>
                                                                                     </li>
                                                                                     <li role="menuitem">
                                                                                         <label><input type="checkbox" data-field="email" value="7" checked="checked"> Total Sales</label>
                                                                                     </li>
                                                                                     <li role="menuitem"><label><input type="checkbox" data-field="action" value="8" checked="checked"> Action</label>
                                                                                     </li>
                                                                                 </ul> -->
                                                                             <!-- </div> -->
                                                                             <!-- <div class="export btn-group">
                                                                                 <button class="btn btn-default dropdown-toggle" aria-label="export type" title="Export data" data-toggle="dropdown" type="button" aria-expanded="false">
                                                                                     <i class="glyphicon glyphicon-export icon-share"></i> <span class="caret"></span>
                                                                                 </button>
                                                                                 <ul class="dropdown-menu" role="menu">
                                                                                     <li role="menuitem" data-type="json">
                                                                                         <a href="javascript:void(0)">JSON</a></li><li role="menuitem" data-type="xml">
                                                                                             <a href="javascript:void(0)">XML</a></li><li role="menuitem" data-type="csv">
                                                                                                 <a href="javascript:void(0)">CSV</a></li><li role="menuitem" data-type="txt">
                                                                                                     <a href="javascript:void(0)">TXT</a></li><li role="menuitem" data-type="sql">
                                                                                                         <a href="javascript:void(0)">SQL</a></li><li role="menuitem" data-type="excel">
                                                                                                             <a href="javascript:void(0)">MS-Excel</a>
                                                                                                         </li>
                                                                                                     </ul>
                                                                                                 </div> -->
                                                                                             <!-- </div> -->
                                                                                             <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-right search">
                                                                                                    <input class="form-control" type="text" placeholder="Search" ng-model="careCoordinator">
                                                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline13-graph">
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <div class="row">
                                                                        <ul class="list-inline">
                                                                            <li></li>
                                                                            
                                                                            <li>
                                                                                    <a href="/manager/add_Care_Coordinator" class="btn btn-primary next-step" style="background-color:#ff470d;border-color:#ff470d;"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Co-ordinator Manager</a>
                                                                                </li>
                                                                           
                                                                            
                                                                          </ul>  
                                                                    </div>
                                                                    <br>
                                                                   <div class="container-fluid"> 
                                                                        <table id="customerTable" ng-init="getCareCoordinator();"class="table table-bordered table-sm" cellspacing="0" width="100%">
                                                                                <thead>
                                                                                  <tr>
                                                                                    <th class="th-sm"><center>Emp Code</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Name</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Mobile No.</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Co-ordinator</center>
                                                                                    </th>
                                                                                    <th class="th-sm"><center>Status</center>
                                                                                    </th>
                                                                                    <th class="th-sm" ><center>Details</center>
                                                                                    </th>
                                                                                    <th class="th-sm" style="color:lightgrey;"><center>Settings</center>
                                                                                    </th>
                                                                                  </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                        <tr ng-repeat="careCoordinator in careCoordinatorDetails | filter:careCoordinator">
                                                                                                <td>{{careCoordinator.emp_code}}</td>
                                                                                                <td>{{careCoordinator.ccd_name}}</td>
                                                                                                <td>{{careCoordinator.ccd_mob}}</td>
                                                                                                <td>{{}}</td>
                                                                                                <td>{{}}</td>
                                                                                                <!-- <td>{{clusterManager.pri_emg_name}}</td> -->
                                                                                                <!-- <td>{{clusterManager.pri_emg_mob}}</td> -->
                                                                                                <!-- <td>{{customer.cust_code}}</td> -->
                                                                                                <td><a ng-href="/manager/communityManagerDetail/{{communityManager.cm_id}}"><center><button type="button" value="{{communityManager.cm_id}}" ng-click="communityId(communityManager.cm_id)">Details</button></center></a></td>
                                                                                                <td><a href="/customer/customerRecord" class="btn-disabled" disabled="disabled"><center><button type="button">Record</button></center></a></td>
                                                                                                <!-- <td><a href=""><center><button type="button">Service Log</button></center></a></td> -->
                                                                                           
                                                                                            </tr>
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th><center>Emp Code</center>
                                                                                        </th>
                                                                                        <th><center>Name</center>
                                                                                        </th>
                                                                                        <th><center>Mobile No.</center>
                                                                                        </th>
                                                                                        <th><center>Co-ordinator</center>
                                                                                        </th>
                                                                                        <th><center>Status</center>
                                                                                        </th>
                                                                                        <th><center>Details</center>
                                                                                        </th>
                                                                                        <th style="color:lightgrey;"><center>Settings</center>
                                                                                        </th>
                                                                                      </tr>
                                                                                </tfoot>
                                                                              </table>
                                                                             
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--All Community Data-->
                                        </div>
                                        <!---Tabs Content-->
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----Zone----->
<script>
    function sortTable(n) {
    var table,
    rows,
    switching,
    i,
    x,
    y,
    shouldSwitch,
    dir,
    switchcount = 0;
    table = document.getElementById("customerTable");
    switching = true;
    //Set the sorting direction to ascending:
    dir = "asc";
    /*Make a loop that will continue until
    no switching has been done:*/
    while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < rows.length - 1; i++) { //Change i=0 if you have the header th a separate table.
    //start by saying there should be no switching:
    shouldSwitch = false;
    /*Get the two elements you want to compare,
    one from current row and one from the next:*/
    x = rows[i].getElementsByTagName("TD")[n];
    y = rows[i + 1].getElementsByTagName("TD")[n];
    /*check if the two rows should switch place,
    based on the direction, asc or desc:*/
    if (dir == "asc") {
      if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    } else if (dir == "desc") {
      if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
        //if so, mark as a switch and break the loop:
        shouldSwitch = true;
        break;
      }
    }
    }
    if (shouldSwitch) {
    /*If a switch has been marked, make the switch
    and mark that a switch has been done:*/
    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
    switching = true;
    //Each time a switch is done, increase this count by 1:
    switchcount++;
    } else {
    /*If no switching has been done AND the direction is "asc",
    set the direction to "desc" and run the while loop again.*/
    if (switchcount == 0 && dir == "asc") {
      dir = "desc";
      switching = true;
    }
    }
    }
    }
    
    </script>