<div class="all-content-wrapper">
        <div class="product-cart-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-cart-inner">
                            <div id="example-basic">
                                <h3>Shopping Cart</h3>
                                <section>
                                    <h3 class="product-cart-dn">Shopping</h3>
                                    <div class="product-list-cart">
                                        <div class="product-status-wrap border-pdt-ct">
                                            <table>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Product Title</th>
                                                    <th>Quality</th>
                                                    <th>Price</th>
                                                    <th>Action</th>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/product/1.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Jewelery Title 1</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="2">
                                                    </td>
                                                    <td>$18</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/product/2.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Jewelery Title 2</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="1">
                                                    </td>
                                                    <td>$17</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/product/3.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Jewelery Title 3</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="3">
                                                    </td>
                                                    <td>$15</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/product/2.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Jewelery Title 4</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="2">
                                                    </td>
                                                    <td>$12</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><img src="../assets/img/product/1.jpg" alt="" /></td>
                                                    <td>
                                                        <h3>Jewelery Title 5</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" value="1">
                                                    </td>
                                                    <td>$18</td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
    </div>
</div>